*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EEEEEE;
}

.loading{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 4px 0 #146C94;
    background: transparent;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
